.about-container{
	width: 100%;
	padding: 35px 2%;
  	justify-content: center;
  	align-items: center;
  	margin-left: 1rem;
	display: flex;
  	flex-direction: row;
}

.card-header{
	font-size: larger;
	font-weight: 800;
}

.col h3{
	font-family: helvetica;
	color: #051937;
	padding: 0px 0px 20px 30px;

    font-weight: bold;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 10px;
	border: 1px solid #eaeaea;
	background-color: rgba(255, 255, 255, 0.418);
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
/* .col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #031D44;
	border: 2px solid white;
} */
.box h5{
	position: relative;
	color: #4a3a27;
    margin-right: 20px;
  margin-left: 20px;
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
  	margin-right: 20px;
  	margin-left: 20px;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
  	text-align: justify;
  	margin-right: 20px;
  	margin-left: 20px;
}

.exp-col{
	display: none;
}

@media (max-width: 480px) {

}