* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(30, 30, 60);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  header {
    padding: 0;
    width: 100%; 
  }

  nav{
    position: fixed;
    left: 0;
    width: 100%;
  }
  
  main{
    justify-content: start;
    align-items: flex-start;
    display: flex;
    margin-right: 10rem;
    margin-top: 1rem;
  }

  .col-sm-4 .card{
    height: auto;
  }

  .card{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(75, 75, 105);
    transition: 0.5s;
    padding-top: 20px;
  }

  .card img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 0.5rem;
    border: 3px solid #b6b2b2;
  }

  .soc-icons{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .soc-icons i{
    font-size: 25px;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 3;
  }

  .soc-icons i:hover{
    color: #fff;
    background: #000;
  }

  .soc-icons a{
    text-decoration: none;
  }

  .name{
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }

  .name i{
    color: #313ef7;
    margin-left: 5px;
  }

  .description{
    font-size: 14px;
    color: #000;
    text-align: center;
  }

  .subtitle{
    font-size: 16px;
    color: #000;
    font-weight: 600;
  }

  .about-section{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  p{
    margin: 5px 0;
    color: #000;
  }

  .intro{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255,255,255,.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
    color: #000;
    
    span {
  
      font: 700 4em/1 "Oswald", sans-serif;
      letter-spacing: 0;
      padding: .25em 0 .325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  
  /* Clip Background Image */
  
      background: url(https://c4.wallpaperflare.com/wallpaper/854/305/82/line-background-band-shadow-wallpaper-preview.jpg) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;
  
  /* Animate Background Image */
  
      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf 5s linear infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  
    }
  }
  
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  /* Animate Background Image */
  
  @-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

  @media only screen and (max-width: 700px){
    main{
        justify-content: start;
        align-items: flex-start;
        display: flex;
        margin-right: 0;
        margin-top: 0;
      }
      .intro{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5em;
        display: inline-block;
        border: 4px double rgba(255,255,255,.25);
        border-width: 4px 0;
        padding: 1.5em 0em;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 30em;
        margin: 0 0 0 -15em;
        color: #b6b2b2;
        
        span {
          letter-spacing: 0;
    }
  }
  .col-sm-8 .card{
    background: none;
    border: none;
    box-shadow: none;
  }
  .card-header{
    color: #b6b2b2;
  }
}