.card-header {
    background-color: #111;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Ensure the card body fills the entire card */
}

.intro-wrapper {
    margin-bottom: 1.5rem;
}

.intro {
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-align: center;
}

.intro span {
    display: block;
    font-size: 1.75rem;
    font-weight: bold;
    color: #fff;
}

.intro::before {
    content: ">";
    color: #007bff;
    font-weight: bold;
    margin-right: 10px;
}

.intro span {
    margin-top: 0.5rem;
}

#Home {
    background-color: #111;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.marquee {
    width: 100%;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: #00000095;
    margin-right: 1rem;
    z-index: 44;
}

.marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    color: #fff;
    font-size: 2em;
    z-index: 55;
}

.marquee-content i{
    margin-left: 4rem;
}

.marquee-content:hover{
    animation-play-state: paused;
}

.dark .marquee {
    background: none;
}

.dark .marquee-content {
    color: #000;
}

.marquee-content i:nth-child(1) {
    color: #E34F26; /* HTML5 icon color */
}

.marquee-content i:nth-child(2) {
    color: #1572B6; /* CSS3 icon color */
}

.marquee-content i:nth-child(3) {
    color: #F7DF1E; /* JavaScript icon color */
}

.marquee-content i:nth-child(4) {
    color: #777BB4; /* PHP icon color */
}

.marquee-content i:nth-child(5) {
    color: #F05032; /* Git icon color */
}

.marquee-content i:nth-child(6) {
    color: #181717; /* GitHub icon color */
}

.marquee-content i:nth-child(7) {
    color: #FFD107; /* Database icon color */
}

.marquee-content i:nth-child(8) {
    color: #61DAFB; /* React icon color */
}
